
  @font-face {
    font-family: "Rezvan";
   src:url('/src/assets/font/Rezvan.ttf') format('truetype');
  }
  body,html{
    font-family: Rezvan!important;
  
  }
  
.main-section{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.main-img{
    height: 100vh;
}
body{
    background-image: linear-gradient(to right, #DFE9F3 , #FFFFFF);
    overflow-y: hidden;
}
.main-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: flex-start;
    margin-right: 96px;
}
.main-text{
    margin-top: 40px;
    text-align: right;
    line-height: 1.5;
    margin-right: 20px;
}
.main-text-section{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.main-button{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 20px;
}
.main-button button{
    background-color: #ECC75B;
    height: 38px;
width: 80px;
left: 782px;
top: 408px;
border-radius: 10px;
outline: none;
border:none;
margin-left: 12px;
margin-top: 15px;
cursor: pointer;
}