.Lyrics-section{
    position: absolute;
    height: 100%;
    background-image: url('/src/assets/image/asshar.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    width: 100%;
}